In [8]:
import pandas as pd
a=pd.read_csv('/home/santhosh/Downloads/Sleep_health_and_lifestyle_dataset.csv')
a

,Person ID,Gender,Age,Occupation,Sleep Duration,Quality of Sleep,Physical Activity Level,Stress Level,BMI Category,Blood Pressure,Heart Rate,Daily Steps,Sleep Disorder
0,1,Male,27,Software Engineer,6.1,6,42,6,Overweight,126/83,77,4200,NaN
1,2,Male,28,Doctor,6.2,6,60,8,Normal,125/80,75,10000,NaN
2,3,Male,28,Doctor,6.2,6,60,8,Normal,125/80,75,10000,NaN
3,4,Male,28,Sales Representative,5.9,4,30,8,Obese,140/90,85,3000,Sleep Apnea
4,5,Male,28,Sales Representative,5.9,4,30,8,Obese,140/90,85,3000,Sleep Apnea
...,...,...,...,...,...,...,...,...,...,...,...,...,...
369,370,Female,59,Nurse,8.1,9,75,3,Overweight,140/95,68,7000,Sleep Apnea
370,371,Female,59,Nurse,8.0,9,75,3,Overweight,140/95,68,7000,Sleep Apnea
371,372,Female,59,Nurse,8.1,9,75,3,Overweight,140/95,68,7000,Sleep Apnea
372,373,Female,59,Nurse,8.1,9,75,3,Overweight,140/95,68,7000,Sleep Apnea
373,374,Female,59,Nurse,8.1,9,75,3,Overweight,140/95,68,7000,Sleep Apnea

In [9]:
a.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 374 entries, 0 to 373
Data columns (total 13 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Person ID                374 non-null    int64
 1   Gender                   374 non-null    object
 2   Age                      374 non-null    int64
 3   Occupation               374 non-null    object
 4   Sleep Duration           374 non-null    float64
 5   Quality of Sleep         374 non-null    int64
 6   Physical Activity Level  374 non-null    int64
 7   Stress Level             374 non-null    int64
 8   BMI Category             374 non-null    object
 9   Blood Pressure           374 non-null    object
 10  Heart Rate               374 non-null    int64
 11  Daily Steps              374 non-null    int64
 12  Sleep Disorder           155 non-null    object
dtypes: float64(1), int64(7), object(5)
memory usage: 38.1+ KB

In [10]:
a.columns[a.isna().any()]

Index(['Sleep Disorder'], dtype='object')

In [11]:
a['Sleep Disorder'] = a['Sleep Disorder'].fillna(a['Sleep Disorder'].mode()[0])
a['Sleep Disorder']

0      Sleep Apnea
1      Sleep Apnea
2      Sleep Apnea
3      Sleep Apnea
4      Sleep Apnea
          ...
369    Sleep Apnea
370    Sleep Apnea
371    Sleep Apnea
372    Sleep Apnea
373    Sleep Apnea
Name: Sleep Disorder, Length: 374, dtype: object

In [12]:
b=pd.get_dummies(a,drop_first=True,dtype=int)
b

,Person ID,Age,Sleep Duration,Quality of Sleep,Physical Activity Level,Stress Level,Heart Rate,Daily Steps,Gender_Male,Occupation_Doctor,...,Blood Pressure_130/86,Blood Pressure_131/86,Blood Pressure_132/87,Blood Pressure_135/88,Blood Pressure_135/90,Blood Pressure_139/91,Blood Pressure_140/90,Blood Pressure_140/95,Blood Pressure_142/92,Sleep Disorder_Sleep Apnea
0,1,27,6.1,6,42,6,77,4200,1,0,...,0,0,0,0,0,0,0,0,0,1
1,2,28,6.2,6,60,8,75,10000,1,1,...,0,0,0,0,0,0,0,0,0,1
2,3,28,6.2,6,60,8,75,10000,1,1,...,0,0,0,0,0,0,0,0,0,1
3,4,28,5.9,4,30,8,85,3000,1,0,...,0,0,0,0,0,0,1,0,0,1
4,5,28,5.9,4,30,8,85,3000,1,0,...,0,0,0,0,0,0,1,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
369,370,59,8.1,9,75,3,68,7000,0,0,...,0,0,0,0,0,0,0,1,0,1
370,371,59,8.0,9,75,3,68,7000,0,0,...,0,0,0,0,0,0,0,1,0,1
371,372,59,8.1,9,75,3,68,7000,0,0,...,0,0,0,0,0,0,0,1,0,1
372,373,59,8.1,9,75,3,68,7000,0,0,...,0,0,0,0,0,0,0,1,0,1
373,374,59,8.1,9,75,3,68,7000,0,0,...,0,0,0,0,0,0,0,1,0,1

In [13]:
x = a.drop(['Sleep Disorder', 'Person ID'], axis=1)
y = a['Sleep Disorder']

In [14]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
x_scaled = sc.fit_transform(x)

ValueError: could not convert string to float: 'Male'

In [15]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x_scaled, y, test_size=0.2, random_state=42)

NameError: name 'x_scaled' is not defined

In [ ]:
from sklearn.tree import DecisionTreeClassifier, plot_tree
model=DecisionTreeClassifier(criterion='gini',max_depth=3,random_state=42)
model.fit(x_train,y_train)

In [ ]:
y_pred=model.predict(x_test)

In [16]:
x_pred=model.predict(x_train)

NameError: name 'model' is not defined

In [17]:
x_train

NameError: name 'x_train' is not defined

In [18]:
y_train

NameError: name 'y_train' is not defined

In [19]:
from sklearn.metrics import accuracy_score, confusion_matrix , classification_report
accuracy_score(y_test,y_pred)

NameError: name 'y_test' is not defined

In [20]:
    confusion_matrix(y_test,y_pred)

NameError: name 'y_test' is not defined

In [21]:
classification_report(y_test,y_pred)

NameError: name 'y_test' is not defined